## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Kharod,IN,82.98,overcast clouds,21.7500,82.5667,STARiHOTELS Sheorinarayan
1,1,Manta,EC,73.18,broken clouds,-0.9500,-80.7333,Balandra Hotel
2,4,Upata,VE,74.19,overcast clouds,8.0086,-62.3989,Posada Villa Nela
3,5,Goderich,CA,66.90,clear sky,43.7501,-81.7165,Harmony Inn
4,6,New Norfolk,AU,56.71,overcast clouds,-42.7826,147.0587,The Shingles Riverside Cottages

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.

locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']=='La Rioja']
vacation_end = vacation_df.loc[vacation_df['City']=='La Rioja']
vacation_stop1 = vacation_df.loc[vacation_df['City']=='Requena']
vacation_stop2 = vacation_df.loc[vacation_df['City']=='Cabra']
vacation_stop3 = vacation_df.loc[vacation_df['City']=='Aviles']

vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
322,422,Requena,ES,68.13,few clouds,39.4883,-1.1004,Hotel Avenida

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]].to_numpy()
end = vacation_end[["Lat","Lng"]].to_numpy()
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()

start=start[0]
end=end[0]
stop1=stop1[0]
stop2=stop2[0]
stop3=stop3[0]

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets

fig = gmaps.figure()
start_stop1 = gmaps.directions_layer(start,stop1,waypoints=[stop1],travel_mode='DRIVING')
stop1_stop2 = gmaps.directions_layer(stop1,stop2,waypoints=[stop2],travel_mode='DRIVING')
stop2_stop3 = gmaps.directions_layer(stop2,stop3,waypoints=[stop3],travel_mode='DRIVING')
stop3_end = gmaps.directions_layer(stop3,end,travel_mode='DRIVING')

fig.add_layer(start_stop1)
fig.add_layer(stop1_stop2)
fig.add_layer(stop2_stop3)
fig.add_layer(stop3_end)

    
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,592,La Rioja,ES,58.78,few clouds,42.2500,-2.5000,Casa Concejos
1,422,Requena,ES,68.13,few clouds,39.4883,-1.1004,Hotel Avenida
2,122,Cabra,ES,73.90,clear sky,37.4725,-4.4421,MS Fuente Las Piedras
3,204,Aviles,ES,65.93,overcast clouds,43.5547,-5.9248,"Palacio de Avilés, Affiliated by Meliá"

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=start, zoom_level=7)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))